@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
  
@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OpenSans, Arial, sans-serif;
  font-style: normal;
  /*outline: 1px solid red;*/
}
  
.trend-list-item, .menu-list-item, .tegs-list-item, .aside-topics-list-item, .aside-tegs-list-item, .copyright-link {
  list-style-type: none;
}
  
.goods-item-content-title-link, .trend-link-item, .trend-text-link,.menu-link-item, .post-title-link, .tegs-link-item, .sub-post-title-link, .aside-topics-link-item, .aside-tegs-link-item, .copyright-link {
  text-decoration: none;
}  
  
.goods-item-content-title-link:hover, .goods-item-content-text-link:hover, .trend-link-item:hover, .trend-text-link:hover,.menu-link-item:hover, .post-title-link:hover, .tegs-link-item:hover, .sub-post-title-link:hover, .aside-topics-link-item:hover copyright-link:hover {
  text-decoration: underline;
}
  
.header {
  background-image: url(../img/banner-bg.jpg);   
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  padding: 28px 0px 144px;
  position: relative;
  z-index: 0;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}
  
.header-label {
  font-size: 45px;
  line-height: 1.67;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  max-width: 688px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 121px;
}
  
.logo {
  width: 183px;
}
  
.header-container {
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
  
.menu-burger {
  width: 24px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}
 
.burger-strip {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.burger-strip:not(:last-child) {
  margin-bottom: 6px;
}
  
.menu-list {
  display: flex;
  justify-content: space-between;
  width: 465px;
}
  
.logo-image, .tegs-list-item, .menu-list-item, .tegs-list-item, .aside-tegs-list-item, .socials-list-item {
  font-size: 0;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
  
.menu-link-item {
  text-transform: uppercase;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  margin-top: 0;
}
    
.trends-title {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-top: 57px;
}

.trends-title::after {
  content: "";
  border-bottom: solid #e1d9bd 3px;
  display: block;
  width: 66px;
  margin: auto;
  margin-top: 12px;
}

.upper-conteiner {
  width: 100%;
}

.trends {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
  
.trend-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.trend {
  width: 24.8%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #040a04;
  position: relative;
  z-index: 0;
}
  
.trend:after { 
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6; 
  z-index: 1;
 }
  
.trend-content {
  max-height: 85%;
  width: 90%;
  border: 3px solid #b59f5b;
  padding: 5% 5%;
  position: absolute; 
  bottom: 12.57%; 
  margin: auto 3.63%;
  z-index: 2;
}
  
.trend-list {
  display: flex;
}

.trend-text-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
}

.main-container {
  display: flex;
  max-width: 1200px;
  margin: 64px auto;
  padding: 0 15px;
  justify-content: space-between;
}

.post-picture {
  width: 381px;
}
 
.post-list {
  width: 778px;
}
 
.post {
  display: flex;
  margin-bottom: 56px;
}
 
.post:last-child {
  margin-bottom: 0px;
}
 
.post-content {
  width: 367px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  font-size: 0;
}
   
.post-header {
  display: flex;
  flex-direction: column;
}
  
.tegs-list {
  display: flex;
  margin-bottom: 15px;
}
  
.tegs-list-item, .trend-list-item {
  margin-right: 19px;
}
  
.tegs-link-item, .trend-link-item {
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  color: #b59f5b;
  text-align: left;
}

.post-title-link, .goods-item-content-title-link {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
}
  
.post-title-link:hover, .sub-post-title-link:hover, .goods-item-content-title-link:hover {
  color: #b59f5b;
}
  
.post-title {
  margin-bottom: 38px;
  font-size: 0;
}
  
.post-data-author, .post-image, .sub-post-image, .sub-post-title {
  font-size: 0;
}
  
.post-data {
  font-size: 12px;
  font-weight: 400;
  color: #888888;
  text-align: left;
  margin-right: 12px;
}
  
.author {
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}
  
.post-text {
  font-size: 15px;
  line-height: 1.47;
  font-weight: 400;
  color: #000000;
  text-align: left;
  margin-top: 51px;
}
  
.post-text-first {
  margin-bottom: 20px;
}
  
.sub-post-picture {
  width: 70px;
}
  
.sub-posts {
  width: 272px;
}
  
.sub-title {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 23px;
}
  
.email, .aside-tegs, .aside-topics {
  margin-top: 60px;
}
  
.sub-title::after {
  content: "";
  border-bottom: solid #e1d9bd 3px;
  display: block;
  width: 66px;
  margin: auto;
  margin-top: 12px;
}
  
.sub-post {
  display: flex;
  margin-bottom: 21px;
}
  
.sub-posts-list {
  margin-bottom: 60px;
}
  
.sub-post-content {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
  
.sub-post-data {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  color: #888888;
  text-align: left;
}
  
.sub-post-title-link {
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  text-align: left;
  margin-top: 30px;
}

.button-search {
  width: 48px;
  height: 48px;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
  background-color: #b59f5b;
  border: none;
}
  
.find-hint, .button-search-hint, .email-hint {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 
  
.find-content {
  display: flex;
  justify-content: space-between;
}
  
.field-find {
  width: 222px;
  height: 48px;
}
  
.field-email, .button-email {
  width: 271px;
  height: 48px; 
}
  
.field-email, .field-find {
  padding-left: 18px;
  background-color: #f4f7f6;
  border: 0;
}
  
.field-find:focus, .field-email:focus {
  border: 1px solid #b59f5b;
}
  
.button-email {
  background-color: #b59f5b;
  border: none;
  margin-top: 17px;
}
  
.button-inshop:hover, .button-email:hover, .button-search:hover {
  background-color: #323232;
}
  
.button-email-hint {
  font-size: 14px;
  font-weight: 700;
  line-height: 2.85;
  text-transform: uppercase;
  color: #ffffff;
}
  
.aside-tegs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
  
.aside-tegs-link-item {
  font-size: 12px;
  line-height: 2.3;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 13px 0;
  color: #000000;
  margin-right: 8px;
  border: solid 3px #eeeeee;
}
  
.aside-tegs-link-item:hover {
  border: solid 3px #b59f5b;
}
  
.count {
  font-size: 12px;
  font-weight: 700;
  line-height: 3.1;
  color: #b59f5b;
  padding-left: 5px;
}
  
.aside-topics-list-item {
  border-bottom: 1px solid #eeeeee;
}
  
.aside-topics-link-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 3.36;
  color: #000000;
}
  
.aside-topics-link-item:hover {
  color: #b59f5b;
}

.bottom-conteiner {
  width: 1200px;
  margin: 0 auto 64px;
  padding: 0 15px;  
}

.goods-title {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.goods-title::after {
  content: "";
  border-bottom: solid #e1d9bd 3px;
  display: block;
  width: 66px;
  margin: auto;
  margin-top: 12px;
}
  
.goods {
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  flex-wrap: wrap;
}

.goods-item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 29.57%;
}
  
.goods-picture {
  width: 100%; 
  object-fit: contain;
  padding: 0 25px;
  position: relative;
  z-index: 0;
}
  
.goods-item-info {
  width: 100%;
  padding: 55px 25px 25px;
  margin-top: -30px;
  border: 3px solid #b59f5b;
  position: relative;
  z-index: 1;
  flex-grow: 1;
}
  
.goods-item-content-title  { 
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  text-transform: uppercase;
  margin-bottom: 0; 
  padding: 0;
  margin-top: 0;
}
  
.goods-item-content-text {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e; 
  margin-top: 0;
}
  
.goods-item-sub {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.goods-price-before {
  text-decoration: line-through;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 14px;
  font-weight: 700;
}
  
.goods-price-after {
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 20px;
  font-weight: 700;
}
  
.ruble {
  text-transform: uppercase;
  color: inherit;
  font-size: inherit;
}
  
.button-inshop {
  height: 50px;
  width: 141px;
  border: none;
  background-color: #b59f5b;
  text-transform: uppercase;
  color:#ffffff;
  font-size: 14px;
}
  
.goods-item-content-text-link {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  color: #b59f5b; 
}
  
.footer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0px auto 40px;
  padding: 0 15px;
}
  
.address {
  background-color: #f4f7f6;
  padding: 30px 0;
}
  
.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 27px;
}
  
.socials-list-item {
  margin-left: 27px;
}
  
.socials-link {
  display: block;
  padding: 5px;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: 21px;
  background-position: center center;
}
  
.socials-link-dribbble {
  background-image: url(../svg/001-dribbble.svg);
  margin-left: 0px;
}

.socials-link-printerest {
  background-image: url(../svg/002-pinterest.svg); 
}

.socials-link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}
  
.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
  
.copyright {
  font-size: 0px;
  margin: 73px auto 0;
  text-align: center;
}
  
.copyright-link {
  color: #d6d6d6;
  font-size: 12px;
  font-weight: 700;
}

.show-feedback {
  display: none;
  font-family: OpenSans;
}
  
.feedback {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0; 
  z-index: 10;
}
  
.feedback-title{
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.3;
  font-size: 20px;
}
  
.feedback-title::after{
  content: "";
  border-bottom: solid #e1d9bd 3px;
  display: block;
  width: 66px;
  margin: 10px auto 0px;
}
  
.feedback-container {
  display: flex;
  flex-direction: column;
  max-width:390px;
  width:95%;
  min-height: 590px;
  margin: auto;
  position: relative;
  background-color: #ffffff;
  padding: 60px 20px 55px 25px; 
}
 
.feedback-select {
  display: block;
  height: 40px;
  width: 330px;
  border: none;
  color: grey;
  padding-left: 20px;
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f3f6f4;
  background-image: url(../svg/form-arrows.svg);
  background-size: 3%;
  background-repeat: no-repeat;
  background-position: right 5px  center;
  margin-bottom: 20px;
}

.radio-title {
  display: block;
  margin-top: 30px;
  font-size: 13px;
  font-weight: 500;
}

.radio-group {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
}

.radio-group:nth-child(even) {
  margin-left: 10px;
}
  
.radio {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.radio:checked ~ .radio-group-text::before{
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(../svg/form-circle.svg);
  background-repeat: no-repeat;
  background-position: center  center;
  background-size: 17px;
  margin-right: 5px;
  vertical-align: middle;
}
  
.radio:not(:checked) ~ .radio-group-text::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center  center;
  background-size: 17px;
  margin-right: 5px;
  vertical-align: middle;
}

.textarea-group {
  height: 100px;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 340px;
  border: none;
  background-color: #f3f6f4;
  text-align: start;
}

.textarea-field {
  border: none;
  margin-top: 10px;
  background-color: #f3f6f4;
  width: 340px;
  height: 150px;
  padding-left: 20px;
  font-size: 13px;
  font-weight: 400;
  padding-top: 10px;
}

.feedback-button{
  margin-top: 18px;
  height: 48px;
  border: none;
  width: 100%;
  background-color:#b59f5b;
  font-weight: 700;
  text-transform: uppercase;
  color:#ffffff;
  font-size: 15px;
  line-height: 1.3;
}
  
.popup-close {
  width: 1.4em;
  height: 1.4em;
  position: absolute;
  top: -2em;
  right: 0em;
  background-color: transparent;
  border: none;
  background-image: url(../svg/form-x.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 1.4em;
}

@media (max-width: 640px) {
  .header {
    background-image: url(../img/banner-mobile.jpg);
    background-size: 100% 100%;
    padding: 0 0 60.6% 0;
  }

  .menu {
    margin: 8.6% 0 53.6% 92.2%;
  }

  .logo-image {
    width: 76.4%;
    margin: 0 auto;
  }

  .logo {
    width: 100%;
  }

  .header-container, .main-container, .sub-posts, .email-group, .goods, .goods-item-info, .footer { 
    width: 100%;
    padding: 0 3.9%;
  }

  .header-container {
    flex-direction: column-reverse;
  }
   
  .header-label {
    margin: 11.9% auto 0;    
    width: 76.4%;
    font-size: 26px;
  }

  .menu-list {
    display: none;
  }

  .trend-content {
    width: 92.2%;
    max-height: 95%;
    margin: 0 3.9%;
    bottom: 3.3%;
    padding: 8% 6%;
  }

  .main-container {
    flex-direction: column;
    margin: 12.2% 0;  
  }

  .post:not(:last-child) {
    margin-bottom: 9.7%;
  }

  .post-list, .post-image, .post-picture {
    width: 100%;
  }

  .post-list {
    margin-bottom: 12.2%; 
  }

  .post {
    flex-direction: column;
  }
     
  .post-content {
    width: 100%;
    margin: 4.2% 0 0;
    border-bottom: 2px solid #eeeeee;
  }

  .post-title {
    margin-bottom: 6.7%;
  }

  .trends-title, .post-title-link, .sub-title  {
    font-size: 16px;
  }

  .tegs-link-item, .post-text, .email, .aside-tegs, .aside-topics {
    font-size: 14px;
  }

  .post-data, .author {
    font-size: 12px;
  }

  .post-text {
    margin-top: 6.1%;
    padding-bottom: 6.7%;
  }

  .sub-post {
    width: 100%; 
  }

  .find-content, .field-find, .field-email, .button-email {
    width: 100%;
  }

  .find-group {
    width: 84.8%;
  }

  .button-search {
    width: 15.2%;
  }

  .email, .aside-tegs, .aside-topics {
    margin-top: 12.2%;
  }

  .aside-tegs-link-item {
    margin-right: 6px;
    padding: 0 10px 0;
  }

  .goods-item, .goods-item:not(:first-child), .goods-item:not(:last-child) {
    width: 100%;
    margin: 0 auto;
  }

  .goods-item-info {
    margin-bottom: 6.9%;
    padding: 0 5.6%;
  }

  .goods-picture {
    width: 100%;
    padding: 0 5.6%;
  }

  .goods-item-content-title {
    font-size: 17px;
    padding: 14.2% 0 0;
  }
}
  
@media (min-width: 641px) and (max-width: 1200px) {
  .header {
    background-image: url(../img/banner-bg-tablet.jpg);
    padding: 6.5% 0 16.1%;
    background-size: 100% 100%;
  }
    
  .logo-image {
    width: 20.3%;
  }

  .logo {
    max-width: 100%;
  } 
  
  .header-container, .main-container, .bottom-conteiner, .footer { 
    max-width: 100%;
    padding: 0 4.6%;
  }

  .header-container {
    margin-bottom: 10.9%;
  }

  .header-label {
    padding: 0 2.8%;
    margin: 0 auto;
    width: 100%;
    font-size: 40px;
    line-height: 1.38;
  }

  .menu-list {
    display: none;
  }

  .trend-content {
    width: 88.9%;
    max-height: 95%;
    margin: 0 5.55%;
    bottom: 4.4%;
    padding: 9.4% 8.8%;
  }

  .trend-text-link {
    font-size: 17px;
    margin-top: 0.65%;
  }
 
  .trends-title {
    margin-top: 6.4%;
    margin-bottom: 2.3%;
  }

  .main-container {
    margin: 6.5% 0;
  }
      
  .post-list {
    width: 55.7%;
    display: flex;
    flex-direction: column;
  }

  .post {
    flex-direction: column;
    margin-bottom: 10.2%;
  }

  .post-content {
    width: 100%;
    margin: 4.1% 0 0;
    padding-bottom: 5.9%;
    border-bottom: 2px solid #eeeeee;
  }

  .post-title {
    margin: 0 0 9.4%;
  }

  .post-title-link {
    font-size: 17px;
  }

  .post-text {
    font-size: 15px;
    margin: 9.4% 0 0;
  }
   
  .sub-posts {
    width: calc(44.3% - 34px); 
    margin-left: 34px;
  }

  .sub-post-data {
    margin-bottom: 3px;
  }

  .find-group {
    width: calc(100% - 48px);
  }

  .field-find, .field-email, .button-email {
    width: 100%;
  }

 .aside-tegs-link-item {
    padding: 5px 13px;
  }

  .aside-tegs-list-item {
    margin-bottom: 12px;
  }

  .goods-item {
    width: calc(50% - 22px);
  }

  .goods-item:nth-child(odd) {
    margin: 0 22px 26px 0;
  }

  .goods-item:nth-child(even) {
    margin: 0 0 26px 0;
  }

  .goods-item-content-title {
    font-size: 17px;
  }

  .bottom-conteiner {
    margin-bottom: calc(10.6% - 26px);  
  }
}

@media (min-width: 1201px) {
  .menu-burger {
    display: none;
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  .trend {
    width: 100%;
  }

  .trend:not(:last-child){
    margin-bottom: 2px;
  }

  .trend-text-link {
    font-size: 16px;
  }
}
  
@media (max-width: 640px) and (orientation: landscape) {
  .trends-title {
    margin-top: 12.2%;
    margin-bottom: 6.4%;
  }

  .trend {
    width: calc(50% - 3px);
    margin-bottom: 3px;
  }

  .trend:nth-child(odd){
    margin-right: 3px;
  }

  .trend-text-link {
    font-size: 12px;
  }

  .trend-link-item {
    font-size: 12px;
  }
}
  
@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
  .trend {
    width: calc(50% - 2px);
    margin-bottom: 3px;
  }

  .trend:nth-child(odd){
    margin-right: 2px;
  }
}
  
@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  .trend {
    width: calc(25% - 2px);
  }

  .trend-text-link {
    font-size: 12px;
  }
 
  .trend-link-item {
    font-size: 12px;
  }

  .trend-content {
    width: 92.2%;
    max-height: 95%;
    margin: 0 3.9%;
    bottom: 3.3%;
    padding: 8% 6%;
  }

  .post-picture {
    width: 100%;
  }
}